{% if guestslug == null %}
<h1>{{ title }}</h1>
<h3>(Updated {{ updated }}: check back later as schedules come in)</h3>
<h3><a href="https://wedding.irina-and-spencer.com">Wedding Info</a><a href="https://rsvp.irina-and-spencer.com/index.php?r=survey/index&sid=534647">RSVP</a></h3>
{% else %}
<h1>{{guestname | safe}}'s Schedule</h1>
<a class="back-home" href="/">👈 back to full schedule</a>
{% endif %}

{% if guestslug == 'the-couple' %}
<h3>
    (we're based in Utrecht for now, but we'll go where the people are)
</h3>
{% endif %}

<ul id="key">
    <li>
        <h2>KEY</h2>
    </li>
    <li>
        <span class="category day">AM</span>
    </li>
    <li>
        <span class="category night">PM</span>
    </li>
</ul>

<ul id="menu">
    {% for guest in guests | sort(false, true, 'name') %}
    <li><a href="/guest/{{guest.slug}}">{{guest.name}}</a></li>
    {% endfor %}
</ul>

<ul id="calendar">
    <li class="dow">U</li>
    <li class="dow">M</li>
    <li class="dow">T</li>
    <li class="dow">W</li>
    <li class="dow">R</li>
    <li class="dow">F</li>
    <li class="dow">S</li>
    {% for date in dates %}
    <li>
        <span class="date">{{date}}</span>
        {% for event in events%}
        {% if event.date == date %}
        <span class="event">{{event.name}}</span>
        {% endif %}
        {% endfor %}
        {% if guestslug == null %}
            <ul class="locations">
                {% for loc in locations %}
                    {% set daylen = guests | day(date,loc.abbr) | length %}
                    {% set nightlen = guests | night(date,loc.abbr) | length %}
                    {% if (daylen > 0) or (nightlen > 0) %}
                    <li class="location">
                        <div>{{loc.name}}</div>
                        {% if daylen > 0 %}
                        <div class="time-window">
                            <a class="category day hover">{{ guests | day(date,loc.abbr) | total }}</a>
                            <ul class="list">
                                {% for guest in guests | day(date,loc.abbr) | sort(false, true, 'name') %}
                                <li>
                                    {{guest.name}}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        {% if nightlen > 0 %}
                        <div>
                            <div class="category night hover">{{ guests | night(date,loc.abbr) | total }}</div>
                            <ul class="list">
                                {% for guest in guests | night(date,loc.abbr) | sort(false, true, 'name') %}
                                <li>
                                    {{guest.name}}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <ul class="locations">
                {% for guest in guests | byGuest(guestslug) %}
                    {% for date in guest.dates | byDate(date) %}
                    <li class="location" style="flex-direction: column; align-items: flex-start">
                        <div class="category day">
                            {% for loc in locations | byAbbr(date.day) %}
                                {{loc.name}}
                            {% endfor%}
                        </div>
                        <div class="category night">
                            {% for loc in locations | byAbbr(date.night) %}
                                {{loc.name}}
                            {% endfor%}
                        </div>
                    </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>