{# https://11ty.rocks/posts/create-your-first-basic-11ty-website/ #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/styles/main.{{env.version}}.css">
</head>
<body>
  
  <main>
    {{ content | safe }}
  </main>

</body>
</html>