---
pagination:
    data: guests
    size: 1
    alias: guest
    addAllPagesToCollections: true
layout: /layouts/base.njk
tags: guests
permalink: "/guest/{{ guest.slug | slug }}/"
eleventyComputed:
    guestname: "{{ guest.name }}"
    guestslug: "{{ guest.slug }}"
---

{% include "components/cal.njk" %}