:root {
  font-size: 1vw;
  --dark-blue: #213563;
  --teal: #098391;
}

html {
  background-color: var(--dark-blue);
  font-family: "Courier New", Courier, monospace;
  
}

body{
    font-size: max(1rem, 12px) !important;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2, h3 {
  margin: 0;
}

h1 {
  color: white;
  text-align: center;
}

h3{
    font-weight: 100;
    color: var(--teal);
    a{
      text-decoration: underline;
      padding: 0 1rem;
      &:hover{
        color: #ddd;
      }
    }
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  position: relative;
}

.back-home {
  position: absolute;
  top: 0;
  left: 2.5vw;
  color: black;
  padding: 0.25em 0.75em;
  border-radius: 1rem;
  background-color: #fff;
  &:hover {
    background-color: var(--teal);
        color: white;
  }
}

#key {
  display: flex;
  align-items: center;
  color: white;
  gap: 0.5rem;
  position: absolute;
  top: 0;
  right: 2.5vw;
}

.time-window {
  position: relative;
}

.category {
    cursor: default;
  padding: 0.25em 0.5em;
  border-radius: 1em;
  display: inline-block;
  &.day {
    background: orange;
    color: black;
  }
  &.night {
    background: midnightblue;
    color: #fff;
  }

  &.hover:hover {
    cursor: pointer;
    background: white;
    color: black;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &+.list {
      display: block !important;
    }
  }
}

#menu {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  max-width: 50vw;
  justify-content: center;
  li {
    a {
      color: black;
      padding: 0.25em 0.5em;
      border-radius: 1em;
      background-color: #fff;
      display: inline-block;
      &:hover {
        background-color: var(--teal);
        color: white;
      }
    }
  }
}

#calendar {
  border-radius: 1rem;
  display: grid;
  margin-bottom: 5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 3rem 17rem 17rem 17rem;
  width: 95vw;

  .dow{
    display: flex;
    justify-content: center;
  }

  & > li {
    &:nth-child(-n+7){
        background-color: transparent;
        color:#fff;
    }
    background-color: #eee;
    margin: 1px;
    position: relative;
    display: flex;
    flex-direction: column;

    .event{
        text-transform: uppercase;
        display: block;
        text-align: center;
        padding: .15rem;
        background-color: var(--teal);
        color: white;
        margin: 0 .5rem .5rem .5rem;
    }

    .date {
      font-size: 3rem;
      font-weight: 500;
      margin: .5rem 0 0 1rem;
    }

  }

  .locations {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    .location {
      display: flex;
      align-items: center;
      min-height: 1.5em;
      gap: 0.25em;
    }
  }

  .list {
    display: none;
    position: absolute;
    padding: 1rem;
    background-color: #fff;
    z-index: 1;
    border-radius: 0 1rem 1rem 1rem;
    li {
      margin-left: 1.5em;
      white-space: nowrap;
      list-style: square;
    }
  }
}

@media screen and (max-width: 900px) {
    #calendar{
        grid-template-columns: auto;
        grid-template-rows: auto;
        &>li {
            min-height: 10rem;
        }
    }
    h1{
      margin-top: 7rem;
    }
    .dow{display: none !important;}
    #menu{
      max-width: none;
    }
}